<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Bienvenidos a Mercado Liebre</title>
</head>
<body>
    <div class="tipografia">
        <header>
            <div class="logo"> 
                <img src="img/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
       
        </header>
    <main>
        

        <form action="/" method="GET">

            <p><input type="text" name="username" id="username" placeholder="Nombre de usuario"></p>
            <p><input type="password" name="contraseña" id="contraseña" placeholder="Elegí tu contraseña"> 
            <button type="submit">Enviar</button>
            </p>
        </form>
    </main>
    
</html>